<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WEATHER-APP</a>
    </div>
    <ul class="nav navbar-nav">
    <li><a href="/weather">Weather</a></li>
      <li class="active"><a href="/">Home</a></li>
      
      <li><a href="/about">About</a></li>
      <li><a href="/help">Help</a></li>
    </ul>
  </div>
</nav>
  